<!DOCTYPE html>
<html>
<head>
	<!-- Import macros for flask -->
	{% import 'macros.html' as macros %}
	
	<title>Hackathon Omgevingswet</title>
	{{ macros.head() }}

</head>
<body id='base'>
	<!-- Navbar -->
	<!-- {{ macros.NavBar() }} -->

	<div class="content-wrapper">
		<div class="header-wrapper">
			<div class="header-image"></div>
			<div class="title">Digitaal Stelsel Omgevingswet (DSO)</div>
		</div>
		<div class="intro-text">
			<p>Het digitaalstelsel helpt u om te onderzoeken wat de mogelijkheden zijn voor uw initiatief. hierin maakt het niet uit of dit een nieuwe schuur of een nieuw restaurant betreft. Deze website, chatbot en kaart helpen u door enerzijds inspiratie te bieden en anderzijds samen met u de aanvraag vergunning af te ronden.

</p>
		</div>
		<a href="/map"><div id="start-btn">START</div></a>
	</div>
</body>
</html>