<!DOCTYPE html>
<html>
<head>
	<!-- Import macros for flask -->
	{% import 'macros.html' as macros %}
	
	<title>Hackathon Omgevingswet</title>
	{{ macros.head() }}

</head>
<body class="draagvlakkie">
	<!-- Navbar -->
	{{ macros.NavBar() }}

	<div class="content-wrapper">
		<!-- <h2>Draagvlakkie</h2> -->
		<div class='draagvlakkie-intro'>
			<h3>Hoe het werkt</h3>
			<p>Voer campagne voor je plan en verzamel zoveel mogelijk stemmen. Verzamel tenminste 100 positieve stemmen. Hierdoor kom je in gesprek met je buurtbewoners en kunnen onduidelijkheden eerder worden opgelost.</p>
		</div>
		<div class="voorstel-container">
			<div id="left-side">
				<div class="voorstel">
					<img src="../static/images/schuur.jpg">
					<div class='top'>
						<h3 class="aanvraag-title">De nieuwe schuur</h3>
						<div id='properties'>
							<p>Oppervlakte: 5m x 5m</p>
							<p>Hoogte: 2.40m</p>
						</div>
					</div>
					<div id='description'>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum ante turpis, ac pharetra nisl luctus vel. Cras a eros quis justo dapibus maximus sed eget nunc. Donec sed commodo elit. Nam suscipit, tellus nec tincidunt efficitur, odio felis aliquet nutella. </p>
					</div>
				</div>
			</div>
			<div id="right-side">
				<div id="replies">
					<div id="positive" class="voter">
						<div class="counter">0</div>
						<img src="../static/images/plus.svg">
						<div class="vote" id="pos">
							<span>Stem voor!</span>
						</div>
					</div>
					<div id='negative' class="voter">
						<div class="counter">0</div>
						<img src="../static/images/minus.svg">
						<div class="vote" id="neg">
							<span>Stem tegen!</span>
						</div>
					</div>
					<div class='progress'>
						<div class='bar'></div>
						<div class="bartext"><span class='nr'>0</span><span> positieve stemmen</span></div>
					</div>
				</div>
				<div class="share">
					<a href="mailto:?subject=Een mooi voorstel!&amp;body=Ik heb een nieuw voorstel! http://127.0.0.1:5000/request"
   title="Share by Email" target="_blank">
  <img src="http://png-2.findicons.com/files/icons/573/must_have/48/mail.png">
</a>
				</div>
			</div>
			</div>
			
		</div>
	</div>
</body>
</html>